/* Global */
body {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #F6F6F6;
}

footer {
    padding: 3% 15%;
    text-align: center;
    background-color: transparent;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #0078AA;
}

footer p {
    color: black;
}

.th-odd {
    width: 50%;
}

.th-even {
    text-align: right;
}

td {
    text-align: left;
}

.td-even {
    text-align: right;
}

.td-sum {
    font-weight: bold;
}


/* Navbar */

.navbar {
    background-color: #0078AA;
}

.nav-item {
    padding: 0 18px;
}

.navbar a{
    color: #F6F6F6;
}

.title-container {
    margin: auto;
    padding-top: 7%;
    width: 300px;
}

.content-container {
    margin: auto;
    padding-top: 7%;
    text-align: right;
    width: 400px;
}

.date-container {
    padding: 2%;
    width: 370px;
    float: right;
    text-align: center;
}

.balance-container {
    margin-top: 100px;
}

.home-page-container {
    padding: 7% 15%;
    text-align: justify;
}

.content-container button {
    width: 130px;
    margin-left: 5px;
}

.input-area label{
    padding-top: 6px;
    position: absolute;
    left: 0;
}

.input-area-container{
    position: absolute;
    right: 0;
    width: 200px;
}

.input-area-container input, .input-area-container select {
    text-align: right;
}
